
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
 ul {
    list-style-type: none;
 }

a, a:visited {
    text-decoration: none;
    font-style: normal;
}

/* a:visited {
    color: inherit;
} */

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol, li {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px; 
    }
}

/* desktop */
@media screen and (min-width: 1158px) {
    .container { 
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* #region HEADER */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    min-height: 56px;

    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}



.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    background-color: transparent;
    border: none;
    fill: #2f2f37;
    padding: 0;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .btn-menu {
        display: none;
    }
}

.nav-class {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-color {
    color: #2E2F42;
}

.page-nav {
    display: flex;
    gap: 40px;
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 24px 0 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active {
    color: #404bbf;
}

.page-nav .is-active::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -4px;
    background-color: #404bbf;
}

.navigation:hover, .navigation:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
    margin-left: auto;
    padding: 24px 0 24px 0;
}

@media screen and (min-width: 768px) {
    .contacts {
        padding: 16px 0 16px 0;
    }
}

@media screen and (max-width: 767px) {
    .page-nav,
    .contacts {
        display: none;
    }
}

/* tablet */
.contacts-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* desktop */
@media screen and (min-width: 1158px) {
    .contacts-container {
        flex-direction: row;
        gap: 40px;
    }
}

/* tablet */
.contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    color: #434455;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* desktop */
@media screen and (min-width: 1158px) {
    .contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.contact-link:last-child {
    margin-right: 0;
}

.contact-link:hover, .contact-link:focus {
    color: #404BBF;
}

/* #endregion */

/* #region HERO-IMAGE */

section {
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    section {
        padding: 120px 0;
    }
}

/* mobile and 1x */
.hero-image {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    background-position: center;
    margin: 0 auto;
}

/* mobile and 2x */
@media (min-resolution: 192dpi) {
    .hero-image {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg@2x.png);
    }
}

/* tablet and 1x */
@media screen and (min-width: 768px) {
    .hero-image {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg-tablet.png);
        max-width: 768px;
    }
}

/* tablet and 2x */
@media (min-resolution: 192dpi) {
    .hero-image {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/Dark-bg-tablet2x.png);
    }
}

/* desktop and 1x */
@media screen and (min-width: 1158px) {
    .hero-image {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.png);
        max-width: 1440px;
    }
}

/* desctop and 2x */
@media (min-resolution: 192dpi) {
    .hero-image {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/people-office@2x.png);
    }
}


.hero-image-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    
}

.hero-image-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    max-width: 216px;
}

@media screen and (min-width: 768px) {
    .hero-image-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}

.order-service {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.order-service:hover, .order-service:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region VALUES */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.values-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

}

@media screen and (min-width: 768px) {
    .values-list {
        row-gap: 72px;
        column-gap: 24px;
    }
} 

@media screen and (min-width: 1158px) {
    .values-list {
        display: flex;
        gap: 24px;
    } 
}

.values-item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .values-item {
        flex-basis: calc((100% - 1* 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .values-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}


.values-item .rectangle {
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    height: 112px;
}

@media screen and (max-width: 1157px) {
    .values-item .rectangle {
        display: none;
    }
}

.list-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .list-name {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .list-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.list-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}


/* #endregion */

/* #region TEAM */
.team {
    background-color: #F4F4FD;
}

.section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-team-title {
    display: block;
    margin: 0 auto 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
            gap: 24px;
    }
}

.list-object {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    display: block;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-data {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;

}

.list-name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 0;

}

.social-icons {
    /* padding-left: 16px;
    padding-right: 16px; */
    display: flex;
    justify-content: center;
    gap: 24px;
    fill: #FFFFFF;

}

.social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link .link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: #f4f4fd;
}

.social-icons-link:hover {
    background-color: #404bbf;
}

.social-icons-link:focus {
    background-color: #404bbf;
}

.list-object:hover  .social-icons-link {
    background-color: #404bbf;
}

.list-object:focus  .social-icons-link {
    background-color: #404bbf;
}

.list-name-team, .list-description-team{
    text-align: center;
}

/* #endregion */

/* #region PORTFOLIO */
.portfolio-title {
    display: block;
    margin: 0 auto 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }
}

.portfolio-object {
    flex-basis: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px){
    .portfolio-object {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-object {
        flex-basis: calc((100% - 2 * 24px) / 3);
    }
}


.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    color: #f4f4fd;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.portfolio-object:hover {
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-object:hover .overlay {
    transform: translateY(0%);
}

.list-name-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;

}

.portfolio-data {
    display: block;
    padding: 32px 16px;
    gap: 8px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

/* #endregion */

/* #region FOOTER */
.bottom {
    background-color: #2E2F42;
    padding: 96px 0;
}

@media screen and (min-width: 768px) {
    .bottom {
        padding: 100px 0;
    }
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .bottom-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 108px;
        column-gap: 24px;
        row-gap: 72px;
    }  
}

@media screen and (min-width: 1158px) {
    .bottom-container {
        column-gap: 0;
        row-gap: 0;
    }  
}

.logo-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .logo-info {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 1158px) {
    .logo-info {
        margin-right: 120px;
    }
}

.logo-bottom {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .logo-bottom {
        margin-right: 0;
        margin-left: 0;
    }
}

.bottom .logo-color {
    color: #F4F4FD;
}

.bottom-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
}

@media screen and (min-width: 768px) {
    .bottom-text {
        max-width: 264px;
    }
}

.social {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .social {
        margin-right: 0;
        margin-left: 0;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .social {
        margin-right: 80px;
    }
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
}

.bottom-icons {
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .bottom-icons {
        padding: 0;
    } 
}

.social-icons-link .link-bottom {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link .link-bottom{
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link .link-bottom:hover {
    background-color: #31d0aa;
}

.social-icons-link .link-bottom:focus {
    background-color: #31d0aa;
}

.email-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .email-div {
        margin-right: 0;
        margin-left: 0;
        align-items: flex-start;
    }
}

.paragraph-subscribe{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .paragraph-subscribe {
        text-align: left;
    }
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 453px;
    margin: 0;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .email-form {
        flex-direction: row;
        gap: 24px;
    }
}

.email-input {
    border: 1px solid #fff;
    opacity: 0.3;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.email-input::placeholder {
    color: #fff;
    opacity: 0.6;
}

@media screen and (min-width: 1158px) {
    .email-input {
        opacity: 1;
    }
    .email-input::placeholder {
        opacity: 1;
    }
}

.subscribe-btn {
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
    background-color: #404bbf;
}

.icon-send {
    margin-left: 16px;
}

/* #endregion */

/* #region MODAL */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;   
    }
}



.close-modal {
    align-self: flex-end;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
}

.icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
    background-color: #404bbf;
    border: none;
}

.close-modal:hover .icon-close, .close-modal:focus .icon-close {
    fill: #ffffff;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    padding: 0;
    margin: 0 0 16px 0;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 24px;
}

@media screen and (min-width: 786px) {
    .form-title  {
        margin-bottom: 16px;
    }
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-with-icon {
    position: relative;
}

.input-cursor {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-cursor:focus {
    border-color: #4d5ae5;
}

.icon-form {
    fill: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-cursor:focus ~ .icon-form {
    fill: #4D5AE5;
}

.textarea-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea-comment::placeholder {
    color: #8E8F9980;
}

.textarea-comment:focus {
    border-color: #4d5ae5;
}

.div-for-terms{
    margin-bottom: 24px;
    display: flex;
}

.form-label-terms{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    gap: 8px;
}
  
.checkbox-box {
    display: inline-flex;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    fill: transparent;
    background-color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:checked + label .checkbox-box{
    fill: #f4f4fd;
    background-color: #404bbf;
    border: none;
}

.policy {
    color: #4d5ae5;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.send-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.send-btn:hover, .send-btn:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region MOBILE MENU */
   
.mobile-menu {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 999999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%)
}

.container-mobile-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
}

.close-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(252, 252, 252, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
}

.icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-mobile:hover, .close-mobile:focus {
    background-color: #404bbf;
    border: none;
}

.close-mobile:hover .icon-close, .close-mobile:focus .icon-close {
    fill: #ffffff;
}

.list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts-container-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.contacts-container-mobile .contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link.blue {
    color: #4D5AE5;
}

.bottom-icons-mobile {
    display: flex;
    gap: 40px;
    justify-content: flex-start;

}
/* #endregion */
